.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	list-style: none;
	position: relative;
}
.project {
	width: 30vw;
	height: 30vw;
	position: relative;
	font-size: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	border-radius: 10px;
}
.project img,
.details {
	border-radius: 15px;
}
.project img {
	width: inherit;
	height: inherit;
	padding: 25px 0;
	background-color: #4a3b4a85;
}
.project:hover {
	cursor: pointer;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-width: 50%;
	gap: 20px;
	position: absolute;
	transition: 0.5s ease;
	top: 0;
	overflow: hidden;
}
.details:hover {
	background-color: #402f3af7;
}

.details a {
	font-size: 1.3rem;
	padding: 5px 12px;
	border-radius: 5px;
	min-width: 50%;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.22);
	color: white;
	font-family: 'Quantico';
	transition: 0.4s ease;
	opacity: 0;
	transform: translateX(-150px);
}
.details a:nth-child(3) {
	transition: 0.4s ease-out;
}
.details:hover > a {
	transform: translateX(0);
	opacity: 1;
}
.details a:hover {
	background-color: white;
	color: rgb(46, 45, 45);
}

.project h4 {
	font-size: 1.7rem;
	font-family: 'Quantico';
	color: white;
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0;
	opacity: 0;
	transition: 0.5s ease;
	transform: translateX(90px);
}
.details:hover > h4 {
	opacity: 1;
	transform: translateX(0);
}

.title {
	position: absolute;
	font-size: 2.5rem;
	font-family: 'Quantico';
	top: 0;
	display: none;
}
.techs {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	width: 100%;
	top: 80%;
	opacity: 0;
	color: white;
	transition: 0.3s ease;
	transform: translateX(180px);
}
.techs > li {
	text-transform: capitalize;
	font-family: 'Quantico';
	font-size: 2rem;
}
.details:hover > .techs {
	opacity: 1;
	transform: translateX(0);
}
.leftArrow,
.rightArrow {
	font-size: 2.2rem;
	position: absolute;
	cursor: pointer;
}
.leftArrow {
	left: 0;
}
.rightArrow {
	right: 0;
}
.dots {
	position: absolute;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	bottom: -90px;
	font-size: 1.7rem;
}
.dot {
	color: rgba(255, 255, 255, 0.4);
	position: relative;
}
.dot:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
}
.dot:hover > span {
	display: block;
}
.dot.active {
	color: white;
}
.dots span {
	font-size: 1.2rem;
	position: absolute;
	bottom: 40px;
	width: max-content;
	margin-left: -20px;
	display: none;
}
@media screen and (max-width: 1220px) {
	.details h4 {
		font-size: 1.6rem;
	}
	.details a {
		font-size: 1.1rem;
	}
}
@media screen and (max-width: 1024px) {
	.details h4 {
		font-size: 1.2rem;
	}
	.details a {
		font-size: 0.9rem;
		padding: 3px 8px;
	}
	.techs li {
		font-size: 1.3rem;
	}
}
@media screen and (max-width: 768px) {
	.project {
		margin: auto;
		--image-width: 55vw;
		width: var(--image-width);
		height: calc(var(--image-width) - 5vw);
	}
	.details h4 {
		font-size: 1.7rem;
	}
	.details a {
		font-size: 1.2rem;
		padding: 5px;
	}
	.techs li {
		font-size: 1.7rem;
	}
}
@media screen and (max-width: 640px) {
	.project {
		--image-width: 70vw;
	}
	.project h4 {
		font-size: 1.5rem;
	}
	.techs li {
		font-size: 1.2rem;
	}
	.details {
		gap: 10px;
	}
	.details a {
		font-size: 1rem;
		padding: 2px 0;
	}
	.leftArrow,
	.rightArrow {
		font-size: 2rem;
	}
}
@media screen and (max-width: 480px) {
	.title {
		font-size: 2rem;
		display: inline;
		top: 10%;
	}
	.project {
		--image-width: 80vw;
		height: var(--image-width);
	}
	.project img {
		padding: 15px;
	}
	.dots {
		bottom: 80px;
	}
}
