.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	height: 7px !important;
	position: unset !important;
	margin-top: 50px !important;
}
.swiper-scrollbar {
	background-color: #4a3b4a !important;
}
.swiper-scrollbar-drag {
	background: #836e83 !important;
}