.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.nav {
  list-style: none;
  display: flex;
  gap: 25px;
}
h2 {
  font-family: 'Square Peg', cursive;
}
